* {
  margin: 0px;
  padding: 0px;
  background-color: #b9ddee;
}

.text1 {
  margin-top: 20px;
  text-align: center;
  color:#4575f1;
  font-weight: 800;
  margin-top:60px;
}

.calculator {
  overflow: hidden;
  width: 350px;
  height: 450px;
  margin: 0 auto;
  background-color: #dcfcf5;
  border-radius: 5px;
}

.input1 {
  width: 315px;
  height: 40px;
  margin: 10px;
  color: #040803;
  background: #f0e9d2;
  border: 1px solid #ddeeb9;
  border-radius: 5px;
  font-size: 18px;
}
.button1 {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  color: #3d3d3d;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background: #55E6C1;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  transition:0.5s;
}

.button1:hover {
  background:#000000;
  color:#ffffff;
  transition:0.5s;
}

.button2 {
  width: 330px;
  height: 40px;
  margin-left: 10px;
  color: #ebebeb;
  border: 1px solid #ffcccc;
  border-radius: 20px;
  background: #e73348;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.button2:hover{
  background:#fcfcf7;
  color:#c6043e;
}
