.a{
    max-width: 1140px;
    margin: auto;
    width: 100%;
    margin-top: 15px;
}
.up h2{
    width: 20%;
    padding: 10px 16px;
    background-color: #2096CD;
    display: inline;
    color: azure;
    font-size: 22px;
}
.up a{
    width: 80%;
    color: crimson;  
    text-decoration: none;
}
.hot{
    background-color: blue;
    width: 100%;
    height: 60px;
    display: inline-block;
} 
.hot2 ul li{
    list-style: none;
    display: inline;
    color: white;
    text-decoration: none;
}
.ap{
    float: right;
    width: 5%;
    margin: 0px;
    padding: 0px;
}
.ap a{
     text-decoration: none;
     color: white;
}
.part{
    max-width:1140px;
    width:100%;
    margin:auto;
}
.logo{
     width:30%;
     display: inline;
}
.logo img{
    height:88px;
    width:276px;
    padding-top: 8px;
}
#p2{
    display: inline-block;
    height: 44px;
    width:95px;
    padding-left: 60px;
}
.pic{
    width:70%;
    float: right;
    padding-bottom: 25px;
    display: inline;
}
.pic ul{
    list-style:none;
    margin:0px;
    padding:0px;
    text-align:center;
}
.pic ul li{
    display:inline-block;
}
.pic ul li a{
    text-decoration:none;
    font-size:19px;
    display: inline;
    padding:05px;
    border-left:.3px solid white;
}
.pic ul li a:hover{	
	background-color:#ea8b8b;
}

.pic ul ul{
	position:absolute;
	background-color:#2A5188;
	top:40%;
	display:none;
}

.pic ul ul li{
	display:block;
}

.pic ul li:hover > ul{
	display:block;
}

.pic ul ul li{
    display:block;
}
.pic ul ul{
    position: absolute;
    display: none;
    top: 100%;
    left: 0%;
    background-color: blueviolet;
}
.mid{
    padding-top: 150px;
}
.text{
    max-width: 100%;
}
.right{
    width: 50%;
    padding-left: 66px;
    padding-top: 220px;
    display: inline-block;   
}
.right p{
    font-size: 18px;
}
.fb{
    display: inline;
    padding-left: 95px;
}
.fb img{
    height: 201px;
    position: absolute;
    padding-top: 300px;
}
.service{
    padding-top: 70px;
}
.service h1{
    text-align: center;
}
.s1{
    display: inline-block;
    width: 50%;
    padding-left: 66px;
    font-size: 18px;
}
.s2{
    display: inline;
    padding-left: 86px;
    position: absolute;
    padding-top: 75px;
}
.map{
    padding-left: 66px;
    padding-top: 80px;
}
.last{
    padding-top: 95px;
}
.below{
	padding-top:18px;
    width:100%;
	float: center;
	background-color:white;
}

.below ul{	
	text-align:center;
    list-style:none;
}

.below ul li{
	display:inline-block;		
}

.below ul li a{
	color:black;
	text-decoration:none;
	display:block;
    padding:8px;
    font-size:14px;
}

.below ul li a:hover{	
	background-color:#ea8b8b;
}
